:root {
  color: #8ce66e;
  background: #040704;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html {
  min-width: 320px;
  background: #040704;
}

body {
  min-width: 320px;
  min-height: 100svh;
  margin: 0;
}

#root {
  min-height: 100svh;
}

::selection {
  color: #061006;
  background: #bafc8f;
}
